@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p>
    Bem-vindo à <b>INVESTFY</b>, uma empresa fictícia criada como parte de um trabalho interdisciplinar do curso de Engenharia de Software da PucPR. Nossa empresa foi concebida para abordar desafios e oportunidades no contexto do surgimento de startups e inovacoes tecnologicas.
    Nossa equipe é composta por estudantes dedicados e apaixonados por encontrar soluções inovadoras e criativas.
</p>
<p>
    Trabalho feito sob supervisao dos professores: Rosilene Fernandes e Giulio Domênico
</p>
<p>
    Inovar é uma jornada complexa, repleta de desafios como falta de suporte externo, obstáculos financeiros e escassez de oportunidades para entrar no mercado. No entanto,
    imagine se houvesse uma solução que permitisse que mentes brilhantes encontrassem aqueles com recursos e disposição para investir e impulsionar o crescimento de negócios.
    Na <b>INVESTFY</b>, isso é possível! Nosso objetivo é facilitar e garantir a conexão entre empreendedores e investidores, proporcionando uma plataforma segura e eficiente para que ambos alcancem seus objetivos e realizem suas ambições.
</p>
<p>
    Agradecemos por visitar-nos, esperamos que você se interesse pelo nosso trabalho e pelas ideias que temos a oferecer. Acreditamos que juntos podemos alcançar resultados significativos.
</p>
<p>
    Se tiver alguma dúvida ou quiser saber mais sobre nossos projetos, não hesite em entrar em contato conosco. Estamos ansiosos para compartilhar nossa jornada e aprender com você.
</p>
<p>
    Atenciosamente,
    A Equipe da Investfy
</p>