@{
    ViewData["Title"] = "Sobre";
}
<h1>@ViewData["Title"]</h1>

<p>A investify é uma empresa ficticia, criada com o objetivo de atender um projeto interdiciplinar do curso de Engenharia de Software da PUC PR - Curitiba.</p>
