@{
    ViewData["Title"] = "Fale Conosco";
}
<h1>@ViewData["Title"]</h1>

<div class="InfoCard">
    <div class="CardTitle">
        <b class="CardN">Leonardo Eberle</b>
    </div>
    <div class="CardBody">
        <div class="CardPhoto">
            foto aqui
        </div>
        <div class="CardText">
            <a href="">Linkedin</a>
            <a href="">Portifolio</a>
        </div>
    </div>
</div><div class="InfoCard">
    <div class="CardTitle">
        <b class="CardN">Lucas Spanholo</b>
    </div>
    <div class="CardBody">
        <div class="CardPhoto">
            foto aqui
        </div>
        <div class="CardText">
            <a href="">Linkedin</a>
            <a href="">Portifolio</a>
        </div>
    </div>
</div><div class="InfoCard">
    <div class="CardTitle">
        <b class="CardN">Guilherme Bonotto</b>
    </div>
    <div class="CardBody">
        <div class="CardPhoto">
            foto aqui
        </div>
        <div class="CardText">
            <a href="">Linkedin</a>
            <a href="">Portifolio</a>
        </div>
    </div>
</div><div class="InfoCard">
    <div class="CardTitle">
        <b class="CardN">Gabriel Kallmayer</b>
    </div>
    <div class="CardBody">
        <div class="CardPhoto">
            foto aqui
        </div>
        <div class="CardText">
            <a href="">Linkedin</a>
            <a href="">Portifolio</a>
        </div>
    </div>
</div><div class="InfoCard">
    <div class="CardTitle">
        <b class="CardN">Maximo DiGiorgio</b>
    </div>
    <div class="CardBody">
        <div class="CardPhoto">
            foto aqui
        </div>
        <div class="CardText">
            <a href="">Linkedin</a>
            <a href="">Portifolio</a>
        </div>
    </div>
</div>