@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Investify</h1>
    <p>Projeto integrado de varias materias da faculdade pucpr, curso de eng de software.</p>
    <p>estou apenas fazendo um teste como voce pode ver!!!</p>
</div>
