@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Investify</h1>
    <p><a href =" ">login</a></p>
    <p><a href="/usuario/create ">cadastro usuario</a></p> <!--Deverá ficar visível somente pro ADMIN-->
    <p><a href="IdeiaModels/Create">cadastro ideia</a></p> <!--Deverá ficar visível apenas pro empreendedor (usertype=1)-->
</div>