@model Investify.Models.UsuarioModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>UsuarioModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Usu_nome" class="control-label"></label>
                <input asp-for="Usu_nome" class="form-control" />
                <span asp-validation-for="Usu_nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usu_cpf" class="control-label"></label>
                <input asp-for="Usu_cpf" class="form-control" />
                <span asp-validation-for="Usu_cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usu_senha" class="control-label"></label>
                <input asp-for="Usu_senha" class="form-control" />
                <span asp-validation-for="Usu_senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usu_telefone" class="control-label"></label>
                <input asp-for="Usu_telefone" class="form-control" />
                <span asp-validation-for="Usu_telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usu_email" class="control-label"></label>
                <input asp-for="Usu_email" class="form-control" />
                <span asp-validation-for="Usu_email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usu_dataInicio" class="control-label"></label>
                <input asp-for="Usu_dataInicio" class="form-control" />
                <span asp-validation-for="Usu_dataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usu_dataNasc" class="control-label"></label>
                <input asp-for="Usu_dataNasc" class="form-control" />
                <span asp-validation-for="Usu_dataNasc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usu_status" class="control-label"></label>
                <input asp-for="Usu_status" class="form-control" />
                <span asp-validation-for="Usu_status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
